language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-23.0.2
    - android-23
    - extra-android-m2repository

jdk:
- oraclejdk8

script:
- ./gradlew clean build

after_success:
- .buildscript/deploy_snapshot.sh

env:
  matrix:
    - MODULE=arraysetbackport
  global:
    - secure: "YBcNrdnUk1bwJtBY4K4koZWUoN9N7G6XvDWledJBfCjami/y5UDgVZZN2c+tdVC66Gd/vLd+yLONXLPCkPk9TiH8M0wAuOEyRG65NQGnuVCscAaofG0bkfUfvZX8U03PEJ7b74htce4/g0wAeLerTaSUgTaScOYieDdZ0cWmfpt88WZNF7NtFEcyGEe6kjLsAbE3G/8iugKcUZ1wu2fJgnNpTan7svbYZ/ScMm1tOqyfBxHTuyR/VcXgU5j5C3cu5ftlcQ8wmcZ/raDiTiYLaff7aunYYCtM+BtmF3fBNzIJuzc1/H2gJlBen22IPoIB4+W5Q0sMDjsyAdDpBKCvHAywx200umvDCZnaKxYEKK1PN3fvZxW8KQxfOyjQHwAvMaUg8Xf6FyPf50dPJestP8pXwHez1V9Xt6a7xo+NcnT5KOQbCkJxgefm+cq3a0G2SjeD4X+By1QMopIsh8cosxt6ptS+2hrZtjzs14ds21XSthK/dOTX357Yqa6zhyk1Jklk+QhBqO6206jrkmtuXE1mDVuJH+k8p1Tbd0LHT7asFr4gd573UThc/iR+DZQ+7kRQiuqTEFmma7Dnf5ew0qMvaNsrf1/BtAp9qaWMe7s7ZwWFOnOWd1X4KpQbLsINuRDMWGxgTARf1Pq37vf9WIDQAFI5h9mq1RA7V7Z3k4s="
    - secure: "VDxnk6dV1q374566FW8m00kk5kKCdTkbS4MTlUM347J6zvvi6eC0ow5IEVZ8xmrodU3a+HrCk++z6SSBx4VnTocUI+7w8RcFownUS7/tBkkHySTsIyvpODB3VLdiubgqto7D2/RH32Z1i70bpTYfiW32K40WjQZcH3z8C7QfbRbYXkrXL2pTxApNYLDUMsSg1a98yRhABBhhjkkNZKStUSKBjFs4QtAk8x077YDPN2A2WrR4Reo8vNQylAPSwH28TZvYMIwRblN18GzdTWVC29uCb2EfZDu2oVeY9y2MEda/8luSG9FJRLw2OtznDB5saf5rENqDxQK5RPiPdBrBBnabSZOh2xZl/UHQJ5bu4a4nhMC4BaqRzjiyYApuWtjBUnmKf1wRUMRj612ot+je/FSzNSqqp4IDihGskE/3MaMCn5wQGUWwBY236kA6zLPkRcpKuPk9/g0qB5QElHh27D0283Y0gxpWcFIkHEqKLQm9BoLrQkOxjORgUvOA3oCWkVADfhPzHxXWNGbkTSuAjr6iYu80WCsBfg5Ym5oGID7jHxo5bSm3QutxoHy+qSArNoNdBiy8N8YQrgiWOXX25CwaIAc8foeaNzO1vt6ZcNTN9KGDBYzfR4086gQ9ZtNRXuULleW5dH5AIlTVwXvQRT5XwAJm2Q8lYErb9G/xrwc="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - "$HOME/.gradle"
